table.custom-table {
    width: 100%;
    border-collapse:separate;
    border:solid black 1px;
    border-spacing: 2px;
}

table.custom-table td, th {
    border-left:solid black 1px;
    border-top:solid black 1px;
}

table.custom-table th {
    background-color: #e1e1e2;
    border-top: none;
}

table.custom-table td:first-child, table.custom-table th:first-child {
    border-left: none;
}
#datepicker {
    cursor: default;
    background-color: #fff;
}
#datepickerto {
    cursor: default;
    background-color: #fff;
}

/* loader */
div.overlay{
    opacity:    0.5; 
    background: #000; 
    width:      100%;
    height:     100%; 
    z-index:    10000;
    top:        0; 
    left:       0; 
    position:   fixed; 
}

.loader {
    position: relative;
    border: 8px solid #7b7b7b;
    border-top: 8px solid #fbfbfb;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    top: 280px;
    left: 50%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*Timesheet Add page*/

input[type="search"].form-control.input-sm{
    float : right;
    margin:5px;
    border:none;
    border-bottom: 1px solid #9a9999;
    font-weight: 400;
}

table#entry_table{
    width : 100%;
    border: 1px solid #f4f4f4;
}

table#entry_table > thead > tr > th, table#entry_table > thead > tr > td {
    border: 1px solid #f4f4f4;
    border-bottom-width: 2px;
}
table#entry_table thead.entry-header th{
    border: none;
    padding: 10px;
    text-align: center;
}

table#entry_table tr.entry-row td{
    padding: 10px;
    border: 1px solid #f4f4f4;
}

table#entry_table tr.recent-entry td{
    padding: 12px;
}

table#entry_table tr.recent-entry td button.update-entry{
    margin-right: 5px;
}

div.dropdown-menu tr td{
    padding : 2px !important;
}

/* End Timesheet Add */
.fa{
    font-size : 14px;
}

.fa-times{
    font-size : 18px;
}

.required{
    color : red;
}

.fa-refresh{
    margin-top: 15px; 
    color: skyblue;
    font-size: 20px;
}
.fa-refresh:hover{
    color: #7bb4cc;
}


/* For searching */
.group{
    background-color: #f4f8ff;
        
}
.group td{
    text-align:center;
    font-size: 15px;
    font-weight: 600;
    color:#425069;
}
.search {
    float: right;
    margin: 3px;
    border: none;
    border: 1px solid #9a9999;
    border-radius: 4px;
    text-align: center;
    height: 28px;
}
.search:focus {
    outline: none; 
    border: 1px solid #48b7d2;
}

.Highlighted{
    background-color : rgba(1, 56, 212, 0.63) !important;
    color: White !important;
    border-radius: 50% !important;
}

.Highlighted-Selectable{
    background-color : rgba(1, 56, 212, 0.63) !important;
    color: white !important;
    border-radius: 60% !important;
    margin-bottom: 2px;
    border-color: black;
}

.withdraw{
    border-color : #e8c8c8;
}

.unread-notification{
    background: #e8e8e8;
}

.unread-notification a:hover, .read-notification a:hover{
    background: #c5c5c5 !important;
}

ul.dropdown-menu li.header{
    font-weight: 800;
}

.slimScrollDiv, .menu{
    height: auto !important;
}

.box-shadow-as-border{
    box-shadow: -1px 5px 8px #a2a0a0;
}

.list-style-none{
    list-style: none;
}

.page-notification-ul{
    padding: 10px !important;
    background: #e1edfd;
    list-style: none;
    border-bottom: 2px solid #b0cef7;
    display: block;
}

.page-notification-ul a{
    width : 100%;
    display: block;
}

.page-notification-ul a:hover{
    color : black;
}

.page-notification-ul:hover{
    background: #dfe1f796;
    border-bottom: 2px solid #eee;
}

.notification-page-main-ul li.header{
    font-weight: 800;
}


.content-wrapper, .right-side {
    min-height: 100%;
    background-color: #F5F7FA;
    z-index: 800;
}

.main-header .logo {
    height: 55px;
    line-height: 55px;
}

.main-header > .navbar {
    min-height: 55px;
}

.small-box .icon {
    
    top: 15px;
    right: 20px;
    z-index: 0;
    font-size: 50px;
    color: rgba(0, 0, 0, 0.15);
}

.small-box:hover .icon {
    font-size: 70px;
    top: 2px;
    right: 10px;
}

.content {
    background: #fff;
    min-height: auto;
    padding: 5px;
    margin-top: 15px;
    margin-right: 15px;
    margin-left: 15px;
    padding-left: 5px;
    padding-right: 5px;
    -webkit-box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
    box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
}

.main-sidebar, .left-side {
    padding-top: 55px;
}

.fixed .content-wrapper, .fixed .right-side {
    padding-top: 55px;
}

.main-footer {
    background: #e6e6e6;
    border-top: 1px solid #ffffff;
}
.skin-white .main-header .navbar .nav > li > a {
    color: #777777;
    line-height: 25px;
}

.main-header .sidebar-toggle {
    line-height: 26px;
    color: #ffffff !important;
}



.bg-aqua{
    background-image: -webkit-gradient(linear,left top,right top,from(#006e98),to(#00b9ff));
    background-image: -webkit-linear-gradient(left,#006e98 0,#00b9ff 100%);
    background-image: -moz-linear-gradient(left,#006e98 0,#00b9ff 100%);
    background-image: -o-linear-gradient(left,#006e98 0,#00b9ff 100%);
    background-image: linear-gradient(to right,#006e98 0,#00b9ff 100%);
    background-repeat: repeat-x;
}
.bg-red {
    background-color: #FF9EAC !important;
}
.bg-red{

	background-image: -webkit-gradient(linear,left top,right top,from(#FF6275),to(#FF9EAC));
    background-image: -webkit-linear-gradient(left,#FF6275 0,#FF9EAC 100%);
    background-image: -moz-linear-gradient(left,#FF6275 0,#FF9EAC 100%);
    background-image: -o-linear-gradient(left,#FF6275 0,#FF9EAC 100%);
    background-image: linear-gradient(to right,#FF6275 0,#FF9EAC 100%);
    background-repeat: repeat-x;
}
.bg-yellow{
    background-color: #ffc1a3 !important;
}
.bg-yellow{
	background-image: -webkit-gradient(linear,left top,right top,from(#FF976A),to(#FFC2A4));
    background-image: -webkit-linear-gradient(left,#FF976A 0,#FFC2A4 100%);
    background-image: -moz-linear-gradient(left,#FF976A 0,#FFC2A4 100%);
    background-image: -o-linear-gradient(left,#FF976A 0,#FFC2A4 100%);
    background-image: linear-gradient(to right,#FF976A 0,#FFC2A4 100%);
    background-repeat: repeat-x;
}

.bg-green{
	background-image: -webkit-gradient(linear,left top,right top,from(#10C888),to(#5CE0B8));
    background-image: -webkit-linear-gradient(left,#10C888 0,#5CE0B8 100%);
    background-image: -moz-linear-gradient(left,#10C888 0,#5CE0B8 100%);
    background-image: -o-linear-gradient(left,#10C888 0,#5CE0B8 100%);
    background-image: linear-gradient(to right,#10C888 0,#5CE0B8 100%);
    background-repeat: repeat-x;
}

.user-panel > .image > img {
    width: 100%;
    max-width: 60px;
    max-height: 60px;
    height: auto;
}

.user-panel > .info {
    padding: 12px 5px 5px 15px;
    line-height: 1;
    position: absolute;
    left: 60px;
}

.user-panel > .info > p {
    font-weight: 600;
    margin-bottom: 6px;
    font-size: 18px;
    color: #404e68;
}
.fa-refresh {
    margin-top: 18px !important;
    color: white !important;
    font-size: 20px;
}

.small-box > .inner {
    padding: 15px;
    min-height: 100px;
}

.small-box h3 {
    font-size: 26px;
    
}
.skin-white .wrapper, .skin-white .main-sidebar, .skin-white .left-side {
    background-color: #ffffff;
}

.skin-white .user-panel > .info, .skin-white .user-panel > .info > a {
    color: #414f68;
}
.skin-white .sidebar a {
    color: #404e68;
}

.skin-white .sidebar-menu > li:hover > a, .skin-white .sidebar-menu > li.active > a {
    color: #ffffff;
    background: #a8b1c1;
    border-left-color: #404e67;
    background-image: -webkit-gradient(linear,left top,right top,from(#404E67),to(#6F85AD));
    background-image: -webkit-linear-gradient(left,#404E67 0,#6F85AD 100%);
    background-image: -moz-linear-gradient(left,#404E67 0,#6F85AD 100%);
    background-image: -o-linear-gradient(left,#404E67 0,#6F85AD 100%);
    background-image: linear-gradient(to right,#404E67 0,#6F85AD 100%);
    background-repeat: repeat-x;
}

.user-panel {
    position: relative;
    width: 100%;
    padding: 10px;
    overflow: hidden;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
}

.skin-white .content-header {
    background: #fff;
    margin: 15px;
}
.skin-white .sidebar-menu > li.header {
    color: #404e67;
    background: #ffffff;
    display: none;
}

.skin-white .main-header .navbar .nav > li > a {
    color: #ffffff;
    line-height: 25px;
}
.content-header {
    position: relative;
    padding: 15px;
    -webkit-box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
    box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
}
.content-header > h1 {
    margin: 0;
    font-size: 18px;
    color: #414f68;
    font-weight: 600;
}
.main-sidebar, .left-side {
    padding-top: 55px;
    -webkit-box-shadow: 1px 0 20px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 0 20px rgba(0, 0, 0, 0.1);
}
.sidebar-menu > li > a {
    font-size: 14px;
    padding: 10px 5px 10px 15px;
}

.sidebar-menu > li > a > .fa, .sidebar-menu > li > a > .glyphicon, .sidebar-menu > li > a > .ion {
    font-size: 14px;
}

.main-header > .navbar {
    min-height: 55px;
    background-image: -webkit-gradient(linear,left top,right top,from(#404E67),to(#6F85AD));
    background-image: -webkit-linear-gradient(left,#404E67 0,#6F85AD 100%);
    background-image: -moz-linear-gradient(left,#404E67 0,#6F85AD 100%);
    background-image: -o-linear-gradient(left,#404E67 0,#6F85AD 100%);
    background-image: linear-gradient(to right,#404E67 0,#6F85AD 100%);
    background-repeat: repeat-x;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #404e67;
    border-color: #404e67;
}
.nav > li > a:hover, .nav > li > a:active, .nav > li > a:focus {
    background: #414f68;
    color: #fff !important;
}

.skin-white .main-header li.user-header {
    background-color: #404e67;
}
.unread-notification a:hover, .read-notification a:hover {
    background: #f5f5f5 !important;
}

.skin-white .sidebar-menu > li > .treeview-menu {
    margin: 0 1px;
    background: #ffffff;
}
.skin-white .treeview-menu > li > a {
    color: #404e67;
}

.skin-white .treeview-menu > li.active > a, .skin-white .treeview-menu > li > a:hover {
    color: #404e68;
    font-weight: bold;
}



.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: none;
    margin-bottom: 5px;
    width: 100%;
    box-shadow: none;
}


.select2-container--default .select2-selection--single {
    border-radius: 0px;
}
.select2-container .select2-selection--single {
    height: 34px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 34px;
    top: 0px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 32px;
}
.small-box .icon {
    color: #fff !important;
}
.main-header .navbar .nav > li > a > .label {
    position: absolute;
    top: 9px;
    right: 0px;
    text-align: center;
    font-size: 12px;
    padding: 5px;
    line-height: .9;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background-color: #fd8177 !important;
}

.btn {
    border-radius: 0px;
    box-shadow: none;
    border: none;
}
.btn-info:hover, .btn-info:active, .btn-info.hover {
    background-color: #00b5b8;
}

.btn-primary {
    background-color: #03bbaa;
    border-color: #03bbaa;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.hover {
    background-color: #00A5A8;
}

.btn-success {
    border: 1px solid #03bbaa;
    width:auto;
    overflow: hidden;
    transition: all 0.5s;
    color: #fff;
     background-color: #03bbaa;
    border-color: #03bbaa;
}

.btn-success:hover, .btn-success:focus, .btn-success:active{
	color: #fff;
     background-color: #03bbaa;
    border-color: #03bbaa;
}

.form-control:focus {
    border-color: #03bbaa;
    box-shadow: none;
}

.btn-info {
    background-color: #00B5B8;
    border-color: #00A5A8;
}

.dataTables_info{
	padding: 20px 0px;
}
.dt-bootstrap .col-sm-12 {
    overflow-x: auto;
}
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 10px;
    border-radius: 0px;
    float: right;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 2;
    color: #fff;
    background-color: #00b5b8;
    border-color: #00b5b8;
    cursor: default;
}

.dataTables_wrapper{
	padding: 15px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 1px solid #f4f4f4;
    padding: 10px;
}
select.input-sm, select.form-group-sm .form-control {
    height: 35px;
    line-height: 30px;
}

table#entry_table thead.entry-header th {
    padding: 10px;
    text-align: left !important;
    border: 1px solid #f4f4f4;
    border-bottom-width: 2px;
}
.content-header > .breadcrumb > li > a {
    color: #404e67;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #03bbaa;
    color: white;
}
.search {
    float: right;
    margin: 0px !important;
    border: 1px solid #D2D6DE !important;
    border-radius: 0 !important;
    text-align: left;
    height: 34px !important;
    text-indent: 10px;
}

input[type="search"].form-control.input-sm{
	 float: right;
    margin: 0px !important;
    border: 1px solid #D2D6DE !important;
    border-radius: 0 !important;
    text-align: center;
    height: 34px !important;
}

.table > thead > tr.success > th, .table > tbody > tr.success > th, .table > tfoot > tr.success > th {
    background-color: #fff;
}

table.dataTable {
    width: 100% !important;
}

input:focus, select:focus{
	outline: none;
}

.main-header .logo .logo-lg {
    display: block;
    color: #404f68;
}
.skin-white .main-header .logo b {
    color: #404e67;
}

.content > .content{
	box-shadow: none;
}

.profile2 .profile-icon {
    border-radius: 50%;
    margin-top: 10px;
    width: 50px;
    height: 50px;
    float: left;
    background: #FFF;
    text-align: center;
    text-shadow: none;
    color: #01a6a9;
}
.profile2  .bg-primary {
    /* background-color: #48b0f7; */
    color: #fff;
    background-image: -webkit-gradient(linear,left top,right top,from(#00A5A8),to(#4DCBCD));
    background-image: -webkit-linear-gradient(left,#00A5A8 0,#4DCBCD 100%);
    background-image: -moz-linear-gradient(left,#00A5A8 0,#4DCBCD 100%);
    background-image: -o-linear-gradient(left,#00A5A8 0,#4DCBCD 100%);
    background-image: linear-gradient(to right,#00A5A8 0,#4DCBCD 100%);
    background-repeat: repeat-x;
}

.profile2 .profile-icon i {
    font-size: 24px;
    margin-top: 14px;
    text-align: center;
}

.profile2 .panel.infolist .form-group:first-child {
    margin-top: 0px;
}
.profile2 .panel.infolist .form-group {
    border-bottom: 1px dashed #e2e4e8;
    padding-bottom: 5px;
    min-height: 26px;
    display: block;
    height: auto;
    overflow-y: auto;
}
.profile2 .form-group {
    margin-bottom: 8px;
}
.bg-light-blue, .label-primary, .modal-primary .modal-body {
    background-color: #00a5a8 !important;
}


.profile2 .nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
    color: #404e67;
}
.profile2 .nav-tabs.profile > li.active > a,.profile2  .nav-tabs.profile > li.active > a:active,.profile2  .nav-tabs.profile > li.active > a:hover,.profile2  .nav-tabs.profile > li.active > a:focus {
    border: none;
    color: #414f68;
    background: #6b80a7;
    border-bottom: 2px solid #414f68;
    border-radius: 0;
    color: #fff;
}
.profile2  .nav-tabs.profile > li > a:hover {
    background: #6b80a7;
    border-color: transparent;
    color: #ffffff;
}

.profile2 .nav-tabs.profile > li > a:hover {
    background: #6b80a7;
    border: none;
    color: #ffffff;
    border-bottom: 2px solid #414f68;
}

.nav-tabs.profile > li:not(.title-tab):after {
    background-color: #414f68;
}

.profile2 .actions .btn.btn-edit {
    color: #414f69;
}
.profile2 .actions .btn.btn-edit:hover {
    background: #414f68;
    color: #FFF;
}
.btn-success:hover, .btn-success:active, .btn-success.hover {
    background-color: #0eb7a7;
    border-color: #10cfbd;
}

.login-logo a, .register-logo a {
    color: #414f68;
}

/*.login-box-body, .register-box-body {
    -webkit-box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
    box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
}*/
.login-page, .register-page {
    background: #f5f7fa;
}

.login-box-msg, .register-box-msg {
    font-size: 18px;
}

.btn-primary {
    background-color: #10cfbd;
    border-color: #10cfbd;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #10cfbd;
    border-color: #10cfbd;
}

.login-box-body .form-control-feedback, .register-box-body .form-control-feedback {
    color: #414f68;
}

.fa-times {
    font-size: 15px;
}
.sidebar-menu .treeview-menu > li > a {
    padding: 5px 5px 5px 25px;
    display: block;
    font-size: 14px;
}




.nav-tabs.profile > li.active > a, .nav-tabs.profile > li.active > a:active, .nav-tabs.profile > li.active > a:hover, .nav-tabs.profile > li.active > a:focus {
    border: none;
    color: #ffffff;
    background: #516280;
    border-bottom: 2px solid #2e3746;
    border-radius: 0;
}

.nav-tabs.profile > li > a:hover {
    border: none;
    color: #ffffff;
    background: #516280;
    border-bottom: 2px solid #2e3746;
    border-radius: 0;
}

.panel.infolist .form-group {
    border-bottom: none;
    padding-bottom: 9px;
    min-height: 35px;
    display: block;
    height: auto;
    overflow-y: auto;
}
.panel.infolist .form-group:first-child {
    margin-top: 0;
}

.btn-primary {
    background-color: #10cfbd;
    border-color: #10cfbd;
    text-align: center;
}

.btn-danger {
    background-color: #f55753;
    border-color: #f43f3b;
    text-align: center;
}
.btn-xs {
    padding: 4.5px 8px;
    margin: 0px 5px;
}
.timeline-inverse > li > .timeline-item {
    font-size: 16px;
    background: #f0f0f0;
    border: 1px solid #f3f3f3;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    padding: 10px 15px;
}

.timeline > .time-label > span {
    font-weight: 600;
    display: inline-block;
    border-radius: 4px;
    padding: 15px;
    background: #03bbaa;
    color: #fff;
    font-size: 18px;
}

.timeline > .time-label > span h6{
    margin: 0;
}
.timeline > li > .fa, .timeline > li > .glyphicon, .timeline > li > .ion {
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    position: absolute;
    color: #fff;
    background: #43516b;
    border-radius: 50%;
    text-align: center;
    left: 13px;
    top: 0;
}
.timeline > li > .timeline-item > .time {
    padding: 0;
    font-size: 13px;
}
.timeline label {
    min-width: auto !important;
    font-size: 15px;
}
.info-lables label{
    min-width: 160px;
    font-size: 15px;
}

.panel-default h4 {
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
        color: #516280;
}

.panel-default {
    margin-bottom: 15px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #03bbaa;
    border: 1px solid #03bbaa;
    border-radius: 4px;
    cursor: default;
    color: #fff;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 0 5px;
    font-size: 13px;
}

.info-lables td,.info-lables th {
    padding: 8px 10px 5px;
    min-width: 300px;
    border: 2px solid #efefef;
    max-width: 450px;
    width: 50%;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
    height: 100px;
    background-color: #42506a;
   color:#fff;
}
.skin-white .main-header .navbar .nav > li > a:hover, .skin-white .main-header .navbar .nav > li > a:active, .skin-white .main-header .navbar .nav > li > a:focus, .skin-white .main-header .navbar .nav .open > a, .skin-white .main-header .navbar .nav .open > a:hover, .skin-white .main-header .navbar .nav .open > a:focus, .skin-white .main-header .navbar .nav > .active > a {
    color: #ffffff;
}

.navbar-nav > .user-menu > .dropdown-menu > .user-footer .btn-default {
    color: #ffffff;
    background: #00b5b8;
}

#images-div > table{
    padding-right: 0px;
    border: 1px solid #ccc; 
    
}

#images-div > table td,#images-div > table th {
    padding: 10px;
    padding-right: 0px;
}

#images-div > table .form-group{
    margin: 0;
}

.sidebar-menu > li {
  
    border-bottom: 1px solid rgba(65, 79, 105, 0.12);
}

label {
    color: #555 !important;
}
td, th{
    color: #333 !important;
}

.info-lables{
    padding: 0px 100px
}
.select2-container--default.select2-container--disabled .select2-selection--multiple {
    background-color: #f4f8ff;
    cursor: default;
}
table .btn-xs{
    padding: 4.5px 8px !important;
    margin: 0 !important;
        height: 26px !important
}

a.btn-xs{
    padding: 4.3px 8px !important;
    margin: 0 !important;
    margin-right: 5px !important;
}
.btn-danger {
    border: none;
}

.project-toogle{
    cursor: pointer;
}

.leave-counts{
    background: #414f68;
    margin: 0px 15px !important;
    padding: 10px 0px;
}

.leave-counts label{
    color:#fff !important;
    text-transform: uppercase;
    font-weight: 600;
}

.status-bottom{
    margin: 15px 0px !important;
}
.rejected{
    background: #f55753;
    padding: 10px;
    color: #fff;
}
.action-pending{
    background: #f39c12;
    padding: 10px;
    color: #fff;
}
.action-taken{
    background: #337ab7;
    padding: 10px;
    color: #fff;
}
.app-close{
    background: #06776d;
    padding: 10px;
    color: #fff;
}

.fa-eye{
    color: #f39c12;
}

.pull-left.image{
    height: 60px;
    width: 60px;
}
.btn-success {
    max-height: 32px;
}

.timeline:before {
 
    bottom: 60px;
 
}
 .timeline-item  h5{
    margin-bottom: 20px;
}
.float-right{
    float:right;
}

.approved{
    background: #10cfbd;
    padding: 4px 10px;
    border-radius: 3px;
    color: #fff;
}

.rejected{
    background: #f55753;
    padding: 4px 10px;
    border-radius: 3px;
    color: #fff;
}

.login-page{
    background-image: url('../img/bglaptop.jpg');
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}

.login-logo, .register-logo {
    font-size: 30px;
    text-align: center;
    margin-bottom: 0px;
    font-weight: 300;
    background: #fff;
    padding: 0px 20px 10px;
}

.login-box, .register-box { 
    width: 42%;
    margin: auto;
    position: fixed;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 16px;
    box-shadow: 0 -3px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    float: left;
}

.radio, .checkbox {
    position: relative;
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
}

.logo-big {
    float: left;
    width: 45%;
    overflow: hidden;
    background: rgba(255, 255, 255, 0);
}
.login-box-body, .register-box-body {
    width: 55%;
    float: left;
    background: #fff;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    
    min-height: 320px;
}

.radio label, .checkbox label {
    margin-left: 0px;
}

.logo-big img{
    height: 200px;
    margin: 60px auto;
}

.login-box-body .form-control-feedback, .register-box-body .form-control-feedback {
    color: #929292;
}
